[% INCLUDE 'doc-head-open.inc' %]
 <title>Koha: Anonymizace čtenářů: Zobrazení SQL</title>
[% INCLUDE 'doc-head-close.inc' %]
 <link href="[% PLUGIN_PATH %]/css/patron-anonymizer.css" rel="stylesheet" type="text/css" />
</head>
<body>
[% INCLUDE 'header.inc' %]
<div id="breadcrumbs">
    <a href="/cgi-bin/koha/mainpage.pl">Koha</a> &rsaquo;
    <a href="/cgi-bin/koha/tools/tools-home.pl">Nástroje</a> &rsaquo;
    <a href="/cgi-bin/koha/plugins/plugins-home.pl">Zásuvné moduly</a> &rsaquo;
    <a href="/cgi-bin/koha/plugins/run.pl?class=[% CLASS %]&amp;method=tool">Anonymizace čtenářů</a> &rsaquo;
    Zobrazení SQL
</div>

<div id="doc3" class="rbit-plugin">
    <div class="logo-links">
      <a href="https://www.koha-v-knihovne.cz" target="_blank"><img src="[% PLUGIN_PATH %]/logo.png" /></a>
        <a href="https://www.koha.cz" target="_blank"><img src="[% PLUGIN_PATH %]/koha_cz.png" /></a>
    </div>

    <div id="toolbar" class="btn-toolbar">
            <div class="btn-group">
                <a class="btn btn-default btn-sm" href="/cgi-bin/koha/plugins/run.pl?class=[% CLASS %]&amp;method=tool&amp;phase=edit">
                    <i class="fa fa-plus"></i> Nová předvolba
                </a>
            </div>
    </div>

    <h3>Anonymizace čtenářů: Zobrazení SQL</h3>

    <pre class="sql">[% query %]</pre>
    <ul class="sql">
      [% FOREACH param IN bind_params %]
        <li>[% param %]</li>
      [% END %]
    </ul>

</div>

[% INCLUDE 'intranet-bottom.inc' %]
